# F20DV - LAB 4

In [14]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv("data/state_crime.csv")
display(df.head(3))

,State,Year,Data.Population,Data.Rates.Property.All,Data.Rates.Property.Burglary,Data.Rates.Property.Larceny,Data.Rates.Property.Motor,Data.Rates.Violent.All,Data.Rates.Violent.Assault,Data.Rates.Violent.Murder,...,Data.Rates.Violent.Robbery,Data.Totals.Property.All,Data.Totals.Property.Burglary,Data.Totals.Property.Larceny,Data.Totals.Property.Motor,Data.Totals.Violent.All,Data.Totals.Violent.Assault,Data.Totals.Violent.Murder,Data.Totals.Violent.Rape,Data.Totals.Violent.Robbery
0,Alabama,1960,3266740,1035.4,355.9,592.1,87.3,186.6,138.1,12.4,...,27.5,33823,11626,19344,2853,6097,4512,406,281,898
1,Alabama,1961,3302000,985.5,339.3,569.4,76.8,168.5,128.9,12.9,...,19.1,32541,11205,18801,2535,5564,4255,427,252,630
2,Alabama,1962,3358000,1067.0,349.1,634.5,83.4,157.3,119.0,9.4,...,22.5,35829,11722,21306,2801,5283,3995,316,218,754

In [16]:
bool_series = df.duplicated()
display(bool_series)
print(bool_series[0])

0       False
1       False
2       False
3       False
4       False
        ...
3110    False
3111    False
3112    False
3113    False
3114    False
Length: 3115, dtype: bool

False

In [17]:
for i in range(3115):
    if(bool_series[i] == True):
        print(i)
        print(bool_series[i])

In [18]:
df.rename(columns={
    "State": "state", 
    "Year": "year", 
    "Data.Population": "population", 

    "Data.Rates.Property.All": "property_rates_all", 
    "Data.Rates.Property.Burglary": "rates_burglary", 
    "Data.Rates.Property.Larceny": "rates_larceny",
    "Data.Rates.Property.Motor": "rates_motor",

    "Data.Rates.Violent.All": "violent_rates_all",
    "Data.Rates.Violent.Assault": "rates_assault",
    "Data.Rates.Violent.Murder": "rates_murder",
    "Data.Rates.Violent.Rape": "rates_rape",
    "Data.Rates.Violent.Robbery": "rates_robbery",

    "Data.Totals.Property.All": "property_total_all",
    "Data.Totals.Property.Burglary": "total_burglary",
    "Data.Totals.Property.Larceny": "total_larceny",
    "Data.Totals.Property.Motor": "total_motor",

    "Data.Totals.Violent.All": "violent_total_all",
    "Data.Totals.Violent.Assault": "total_assault",
    "Data.Totals.Violent.Murder": "total_murder",
    "Data.Totals.Violent.Rape": "total_rape",
    "Data.Totals.Violent.Robbery": "total_robbery"
}, inplace = True)

display(df)

,state,year,population,property_rates_all,rates_burglary,rates_larceny,rates_motor,violent_rates_all,rates_assault,rates_murder,...,rates_robbery,property_total_all,total_burglary,total_larceny,total_motor,violent_total_all,total_assault,total_murder,total_rape,total_robbery
0,Alabama,1960,3266740,1035.4,355.9,592.1,87.3,186.6,138.1,12.4,...,27.5,33823,11626,19344,2853,6097,4512,406,281,898
1,Alabama,1961,3302000,985.5,339.3,569.4,76.8,168.5,128.9,12.9,...,19.1,32541,11205,18801,2535,5564,4255,427,252,630
2,Alabama,1962,3358000,1067.0,349.1,634.5,83.4,157.3,119.0,9.4,...,22.5,35829,11722,21306,2801,5283,3995,316,218,754
3,Alabama,1963,3347000,1150.9,376.9,683.4,90.6,182.7,142.1,10.2,...,24.7,38521,12614,22874,3033,6115,4755,340,192,828
4,Alabama,1964,3407000,1358.7,466.6,784.1,108.0,213.1,163.0,9.3,...,29.1,46290,15898,26713,3679,7260,5555,316,397,992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3110,Wyoming,2015,586107,179.8,1902.6,300.6,1500.9,222.1,10.1,2.7,...,21.3,1054,11151,1762,8797,1302,59,16,173,125
3111,Wyoming,2016,585501,1957.3,302.5,1518.2,136.6,244.2,195.7,3.4,...,10.1,11460,1771,8889,800,1430,1146,20,205,59
3112,Wyoming,2017,579315,1830.4,275.0,1421.0,134.5,237.5,176.4,2.6,...,13.1,10604,1593,8232,779,1376,1022,15,263,76
3113,Wyoming,2018,577737,1785.1,264.0,1375.9,145.2,212.2,150.6,2.3,...,17.3,10313,1525,7949,839,1226,870,13,243,100
3114,Wyoming,2019,578759,1571.1,241.2,1206.7,123.2,217.4,147.6,2.2,...,11.6,9093,1396,6984,713,1258,854,13,324,67

In [19]:
new_df = df[(df["state"] != "United States") & (df["year"] >= 1965)]
display(new_df)
new_df.to_csv("data/crimeUS.csv", index=False)

,state,year,population,property_rates_all,rates_burglary,rates_larceny,rates_motor,violent_rates_all,rates_assault,rates_murder,...,rates_robbery,property_total_all,total_burglary,total_larceny,total_motor,violent_total_all,total_assault,total_murder,total_rape,total_robbery
5,Alabama,1965,3462000,1392.7,473.7,812.1,106.9,199.8,149.1,11.4,...,28.7,48215,16398,28115,3702,6916,5162,395,367,992
6,Alabama,1966,3517000,1528.0,527.5,869.6,131.0,230.3,177.7,10.9,...,32.0,53740,18551,30583,4606,8098,6249,384,341,1124
7,Alabama,1967,3540000,1612.4,571.4,895.0,146.0,238.6,183.5,11.7,...,33.0,57079,20227,31682,5170,8448,6495,415,371,1167
8,Alabama,1968,3566000,1766.6,628.2,967.7,170.7,232.4,168.5,11.8,...,41.0,62997,22403,34508,6086,8288,6009,421,396,1462
9,Alabama,1969,3531000,1876.2,667.2,1037.8,171.2,250.4,181.7,13.7,...,41.0,66248,23559,36644,6045,8842,6415,485,494,1448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3110,Wyoming,2015,586107,179.8,1902.6,300.6,1500.9,222.1,10.1,2.7,...,21.3,1054,11151,1762,8797,1302,59,16,173,125
3111,Wyoming,2016,585501,1957.3,302.5,1518.2,136.6,244.2,195.7,3.4,...,10.1,11460,1771,8889,800,1430,1146,20,205,59
3112,Wyoming,2017,579315,1830.4,275.0,1421.0,134.5,237.5,176.4,2.6,...,13.1,10604,1593,8232,779,1376,1022,15,263,76
3113,Wyoming,2018,577737,1785.1,264.0,1375.9,145.2,212.2,150.6,2.3,...,17.3,10313,1525,7949,839,1226,870,13,243,100
3114,Wyoming,2019,578759,1571.1,241.2,1206.7,123.2,217.4,147.6,2.2,...,11.6,9093,1396,6984,713,1258,854,13,324,67

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3115 entries, 0 to 3114
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   state               3115 non-null   object
 1   year                3115 non-null   int64
 2   population          3115 non-null   int64
 3   property_rates_all  3115 non-null   float64
 4   rates_burglary      3115 non-null   float64
 5   rates_larceny       3115 non-null   float64
 6   rates_motor         3115 non-null   float64
 7   violent_rates_all   3115 non-null   float64
 8   rates_assault       3115 non-null   float64
 9   rates_murder        3115 non-null   float64
 10  rates_rape          3115 non-null   float64
 11  rates_robbery       3115 non-null   float64
 12  property_total_all  3115 non-null   int64
 13  total_burglary      3115 non-null   int64
 14  total_larceny       3115 non-null   int64
 15  total_motor         3115 non-null   int64
 16  violent_total_all   3115 non-null   int64
 17  total_assault       3115 non-null   int64
 18  total_murder        3115 non-null   int64
 19  total_rape          3115 non-null   int64
 20  total_robbery       3115 non-null   int64
dtypes: float64(9), int64(11), object(1)
memory usage: 511.2+ KB

In [21]:
finance_df = pd.read_csv("data/finance.csv")
display(finance_df.head(3))

,State,Year,Totals.Capital outlay,Totals.Revenue,Totals.Expenditure,Totals.General expenditure,Totals.General revenue,Totals.Insurance trust revenue,Totals.Intergovernmental,Totals.License tax,...,Details.Welfare.Welfare Institution Total Expenditure,Details.Natural Resources.Parks.Parks Total Expenditure,Details.Transportation.Highways.Highways Total Expenditure,Totals. Debt at end of fiscal year,Details.Insurance benefits and repayments,Details.Interest on debt,Details.Interest on general debt,Details.Miscellaneous general revenue,Details.Other taxes,Details.Police protection
0,ALABAMA,1992,664748,10536166,9650515,8788293,8910315,1473217,2737180,395202,...,1853436,9728,694874,4128724,724852,280179,280179,607453,205227,77789
1,ALABAMA,1993,781952,11389335,10242374,9339796,9688246,1570768,2965310,377723,...,2016935,11031,856228,4170084,761582,267648,267648,599988,224878,78320
2,ALABAMA,1994,767100,11599362,10815221,9922352,10014415,1454982,3077084,386771,...,2167799,12053,883852,3853804,762811,250642,250642,643807,234592,86839

In [22]:
finance_df.rename(columns={
    "State": "state", 
    "Year": "year",

    "Totals.Capital outlay": "capital_outlay_total", 
    "Totals.Revenue": "revenue_total", 
    "Totals.Expenditure": "expenditure_total",
    "Totals.General expenditure": "general_expenditure_total",

    "Totals.General revenue": "general_revenue_total",
    "Totals.Insurance trust  revenue": "insurance_trust_revenue_total",
    "Totals.Intergovernmental": "intergovernmental_total",
    "Totals.License tax": "license_tax_total",
    "Totals.Selective sales tax": "selective_sales_tax_total",

    "Totals.Tax": "tax_total",
    "Details.Correction.Correction Total": "correction_total",
    "Details.Education.Education Total": "education_total",
    "Details.Financial Aid.Assistance and Subsidies": "assistance_subsidies",

    "Details.Financial Aid.Cash and Securities Total": "cash_securities_total",
    "Details.Health.Health Total Expenditure": "health_total_txpenditure",
    "Details.Intergovernmental.Intergovernmental Expenditure": "intergovernmental_expenditure",
    "Details.Intergovernmental.Intergovernmental to Combined and Unallocable": "intergovernmental_combined_unallocable",
    "Details.Natural Resources.Natural Resources Construction": "natural_resources_construction",
    "Details.Utilities.Utilities Current Operation": "utilities_current_operation",
    "Details.Welfare.Welfare Institution Total Expenditure": "welfare_institution_total_expenditure",
    "Details.Natural Resources.Parks.Parks Total Expenditure": "parks_total_expenditure",
    "Details.Transportation.Highways.Highways Total Expenditure": "highways_total_expenditure",
    "Totals. Debt at end of fiscal year": "debt_at_end_of_fiscal_year",
    "Details.Insurance benefits and repayments": "insurance_benefits_and_repayments",
    "Details.Interest on debt": "interest_on_debt",
    "Details.Interest on general debt": "interest_on_general_debt",
    "Details.Miscellaneous general revenue": "miscellaneous_general_revenue",
    "Details.Other taxes": "other_taxes",
    "Details.Police protection": "police_protection"
}, inplace = True)

display(finance_df)

,state,year,capital_outlay_total,revenue_total,expenditure_total,general_expenditure_total,general_revenue_total,insurance_trust_revenue_total,intergovernmental_total,license_tax_total,...,welfare_institution_total_expenditure,parks_total_expenditure,highways_total_expenditure,debt_at_end_of_fiscal_year,insurance_benefits_and_repayments,interest_on_debt,interest_on_general_debt,miscellaneous_general_revenue,other_taxes,police_protection
0,ALABAMA,1992,664748,10536166,9650515,8788293,8910315,1473217,2737180,395202,...,1853436,9728,694874,4128724,724852,280179,280179,607453,205227,77789
1,ALABAMA,1993,781952,11389335,10242374,9339796,9688246,1570768,2965310,377723,...,2016935,11031,856228,4170084,761582,267648,267648,599988,224878,78320
2,ALABAMA,1994,767100,11599362,10815221,9922352,10014415,1454982,3077084,386771,...,2167799,12053,883852,3853804,762811,250642,250642,643807,234592,86839
3,ALABAMA,1995,808001,12279726,11541881,10489513,10582838,1566923,3240417,480698,...,2291264,10645,924411,3758726,912649,193752,193752,643469,232783,83482
4,ALABAMA,1996,760751,12741148,12126587,10991713,10894396,1710360,3347019,422841,...,2325418,7788,881381,3645292,987710,216842,216842,649073,265426,86936
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1046,WYOMING,2015,467279,7983068,6089770,5232487,6768343,1104134,2999924,153768,...,799594,22096,596501,834783,761738,27290,27290,1162678,1207705,39244
1047,WYOMING,2016,484691,6453279,6272333,5349101,5631409,709660,2685335,157086,...,829348,21746,557393,775568,827223,24305,24305,790371,936375,39775
1048,WYOMING,2017,475405,7000634,6445250,5533166,5552848,1336124,2592055,161973,...,839126,22893,478504,769721,815448,21942,21942,1084334,724988,38874
1049,WYOMING,2018,513325,7652548,6308802,5393900,5602117,1931521,2363993,187522,...,853578,22071,504837,832440,812871,23693,23693,1150389,787082,39607
1050,WYOMING,2019,518769,6131182,6159829,5225356,5525161,484060,2291076,208741,...,858064,22211,494362,882830,826814,26327,26327,873830,948058,41029

In [23]:
finance_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1051 entries, 0 to 1050
Data columns (total 31 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   state                                   1051 non-null   object
 1   year                                    1051 non-null   int64
 2   capital_outlay_total                    1051 non-null   int64
 3   revenue_total                           1051 non-null   int64
 4   expenditure_total                       1051 non-null   int64
 5   general_expenditure_total               1051 non-null   int64
 6   general_revenue_total                   1051 non-null   int64
 7   insurance_trust_revenue_total           1051 non-null   int64
 8   intergovernmental_total                 1051 non-null   int64
 9   license_tax_total                       1051 non-null   int64
 10  selective_sales_tax_total               1051 non-null   int64
 11  tax_total                               1051 non-null   int64
 12  correction_total                        1051 non-null   int64
 13  education_total                         1051 non-null   int64
 14  assistance_subsidies                    1051 non-null   int64
 15  cash_securities_total                   1051 non-null   int64
 16  health_total_txpenditure                1051 non-null   int64
 17  intergovernmental_expenditure           1051 non-null   int64
 18  intergovernmental_combined_unallocable  1051 non-null   int64
 19  natural_resources_construction          1051 non-null   int64
 20  utilities_current_operation             1051 non-null   int64
 21  welfare_institution_total_expenditure   1051 non-null   int64
 22  parks_total_expenditure                 1051 non-null   int64
 23  highways_total_expenditure              1051 non-null   int64
 24  debt_at_end_of_fiscal_year              1051 non-null   int64
 25  insurance_benefits_and_repayments       1051 non-null   int64
 26  interest_on_debt                        1051 non-null   int64
 27  interest_on_general_debt                1051 non-null   int64
 28  miscellaneous_general_revenue           1051 non-null   int64
 29  other_taxes                             1051 non-null   int64
 30  police_protection                       1051 non-null   int64
dtypes: int64(30), object(1)
memory usage: 254.7+ KB

In [24]:
finance_df.to_csv("data/financeUS.csv", index=False)